APP_NAME=go
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_DOMAIN=reporangler.localhost
APP_PROTOCOL=http

APP_AUTH_URL=http://reporangler_auth_service_nginx
APP_METADATA_URL=http://reporangler_metadata_service_nginx
APP_STORAGE_URL=http://reporangler_storage_service_nginx

LOG_CHANNEL=stack
